body {
    background-color: #EBE7DE;
}

.container {
    max-width: 1400px;
}

.navbar h1{
    color: #499C80;
}

.nav-item{
    margin-right: 40px;
}

.nav-item a{
    font-size: 24px;
    font-weight: 500;
}

/* .vl {
    border-left: 1px solid white;
    height: 74px;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
  } */


  /* hero */
  .hero{
    background-image: url("images/img.png");
    /* background-repeat: no-repeat; */
    background-position: center;
    height: 300px;
  }

  .hero h2{
    margin-right: 118px;
    position: relative;
  }

  .hero h2::before{
    content: "$145.99";
    top: 8px;
    right: 228px;
    width: 63px;
    height: 63px;
    background-color: rgb(87, 197, 160);
    position: absolute;
    font-size: 14px;
    padding-left: 5px;
    color: white;
    padding-top: 26px;
  }


/* product */
.card {
    border: none;
    padding: 0;
}

.card-body h5{
    position: relative;
}

.card-body h5::before{
    content: "$145.99";
    top: -16px;
    right: 296px;
    width: 80px;
    height: 80px;
    background-color: #57C5A0;
    position: absolute;
    font-size: 16px;
    color: white;
    padding-top: 30px;
}

.body-card h5::after{
    content: "On Sale!";
    top: -459px;
    right: -16px;
    width: 80px;
    height: 80px;
    background-color: #0a0a0a;
    position: absolute;
    font-size: 16px;
    color: white;
    padding-top: 30px;
}


.cart{
    padding: 20px;
    margin: 18px;
    background-color: #DFDAD4;
    /* margin-right: 35px; */
}

.cart h4{
    margin-bottom: 20px;
}

.news h5{
    background-color: #499C80;
    padding: 5px;
    color: white;
    text-align: center;
    margin-right: 30px;
}

.footer-container{
    background-color: #242424;
}

.footer-cart{
    padding: 20px;
    margin: 34px;
    background-color: #242424;
    color: white;
}


/* social section */
.social{
    background-color: #242424;
}

footer{
    background-color: #2E2E2E;
    color: white;
}